{% extends "base.html" %}

{% block title %}{% if article %}{{ article.title }} - {% endif %}{% endblock %}

{% block css %}
<style>
  {% include "css/base.css" %}
</style>
{% endblock %}

{% block content %}
{% if article %}
<div class="row"> 
  <h1 style="font-size: 36px;">{{ article.title }}</h1>
  <div style="font-size:12px;color:#666;margin:0 0 10px">
   {% if article.date %}
     Posted on {{ article.date.strftime('%B %d, %Y') }}.   
   {% endif %}
  </div> 
</div>
<div class="row"> 
  <div class="c12"> 
    <hr>
    {{ article.content }}
    <hr>
  </div> 
</div>
{% endblock %}
{% block footer %}
  <div>
    Copyright©SSGCFL
  </div>
{% endblock %}